<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @carset.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @carset.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @carset.user %>
</p>

<% if @carset.failed_records %>
  <p><strong>Failed Import Records (<%= @carset.failed_records.count %> total)</strong></p>
  <% @carset.failed_records.each do |record| %>
    <p><%=record.to_s %></p>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_carset_path(@carset) %> |
<%= link_to 'Back', carsets_path %>
