<h1>Car Search</h1>
<%= simple_form_for :car_point, url: car_search_find_url, html: { class: 'form-inline' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :year, collection: @years %>
    <%= f.input :make %>
    <%= f.input :model %>
  </div>
  <br />
  <div class="form-actions">
    <%= f.button :submit, value: "Search", id: 'submitSearch' %>
    <div class="form-group string">
      <label class="string control-label" for="as_csv"> as csv</label>
      <input class="string form-control" type="checkbox" id="as_csv" value=true>
    </div>
  </div>
  <div id='tablediv'>
    <table id="results" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Year</th>
          <th>Make</th>
          <th>Model</th>
        </tr>
      </thead>

    </table>
  </div>
  <div id='error'>There was an error while handling your request.  Please try again later.</div>
  <div id='processing'>Processing...</div>
<% end %>
