<%= simple_form_for(@time_entry) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class='h4'>Project/Task</div>
    <%= f.input :project_id, collection: @projects, as: :grouped_select, group_method: :last, label_method: :name, value_method: :id, label: false %>
    <%= f.association :task, label_method: :name, label: false %>
    <div class='row'>
      <div class='col-md-8'>
        <%= f.input :description, label: false %>
      </div>
      <div class='col-md-4'>
        <%= f.input :accrued_hrs, label: false %>
      </div>
    </div>
  </div>

<% end %>
