<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @course.level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Order nr:</strong>
  <%= @course.order_nr %>
</p>

<p>
  <strong>Curriculum:</strong>
  <%= @course.curriculum_id %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
